<div id="carrito-compras" class="carrito-compras">

	<h2 class="carrito-compras-titulo titulo">Carrito de Compras</h2>

	<p>Aquí se verán los elementos que ustedes seleccione. Bon Apetit!</p>

	<p class="carrito-compras-total"></p>

</div>
