	<div id="menu" class="menu clearfix">

		<h2 class="menu-titulo titulo">Menú</h2>

		<div class="contenedor-menu">
			<img class="contenedor-menu-imagen" src="public/images/empanada-carne.jpg" alt="Empanada de Carne">
			<p class="contenedor-menu-titulo">Empanada de Carne</p>
			<p class="contenedor-menu-descripcion">Rellena de carne molida, papá frita y vegetales.</p>
			<p class="contenedor-menu-precio">2000</p>
		</div>

		<div class="contenedor-menu">
			<img class="contenedor-menu-imagen" src="public/images/empanada-pollo.jpg" alt="Empanada de Pollo">
			<p class="contenedor-menu-titulo">Empanada de Pollo</p>
			<p class="contenedor-menu-descripcion">Rellena de Pollo, papa cocida y delicioso vegetales.</p>
			<p class="contenedor-menu-precio">2000</p>
		</div>

		<div class="contenedor-menu">
			<img class="contenedor-menu-imagen" src="public/images/empanada-mixta.jpg" alt="Empanada de Mixta">
			<p class="contenedor-menu-titulo">Empanada Mixta</p>
			<p class="contenedor-menu-descripcion">Rellena de carne desmechada y pollo.</p>
			<p class="contenedor-menu-precio">2500</p>
		</div>

		<div class="contenedor-menu">
			<img class="contenedor-menu-imagen" src="public/images/empanada-vegetariana.jpg" alt="Empanada Vegetariana">
			<p class="contenedor-menu-titulo">Empanada Vegetariana</p>
			<p class="contenedor-menu-descripcion">Rellena de frijol, champiñon y papa.</p>
			<p class="contenedor-menu-precio">2000</p>
		</div>

		<div class="contenedor-menu">
			<img class="contenedor-menu-imagen" src="public/images/empanada-queso.jpg" alt="Empanada de Queso">
			<p class="contenedor-menu-titulo">Empanada de Queso</p>
			<p class="contenedor-menu-descripcion">Rellena de queso mozzarella y queso gruyer.</p>
			<p class="contenedor-menu-precio">1600</p>
		</div>

		<div class="contenedor-menu">
			<img class="contenedor-menu-imagen" src="public/images/empanada-ranchera.jpg" alt="Empanada Ranchera">
			<p class="contenedor-menu-titulo">Empanada Ranchera</p>
			<p class="contenedor-menu-descripcion">Rellena de pollo y chorizo español.</p>
			<p class="contenedor-menu-precio">2500</p>
		</div>

		<div class="contenedor-menu">
			<img class="contenedor-menu-imagen" src="public/images/empanada-italiana.jpeg" alt="Empanada Italiana">
			<p class="contenedor-menu-titulo">Empanada Italiana</p>
			<p class="contenedor-menu-descripcion">Rellena de salami, peperoni y parmesano</p>
			<p class="contenedor-menu-precio">3000</p>
		</div>

		<div class="contenedor-menu">
			<img class="contenedor-menu-imagen" src="public/images/empanada-rola.jpg" alt="Empanada Rola">
			<p class="contenedor-menu-titulo">Empanada Rola</p>
			<p class="contenedor-menu-descripcion">Rellena de carne desmechada, arroz y papa</p>
			<p class="contenedor-menu-precio">3000</p>
		</div>

	</div>

<!--Div de container se cierra en footer-->
