<div id="nosotros" class="nosotros">

	<div class="nosotros-izquierda">
		<h2 class="nosotros-titulo titulo">Nosotros</h2>
		<img src="public/images/nosotros.jpg" alt="empanaditas medianoche nosotros">
	</div>

	<div class="nosotros-derecha">
		<p>Somos una pequeña empresa la cual quiere salvar la gran tradición de las empanadas en Colombia, mezclada con el ritual de beber con los amigos. Nuestras recetas son el resultado de años de pruebas, así como el respeto a las viejas recetas. Preparadas con amor y sabiendo que lo que necesitas junto a ese trago, es una buena empanada.</p>
	</div>

</div>
