<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Empanaditas medianoche lleva las empanadas hasta la puerta de su casa. Para que la fiesta siga.">
		<title>Empanaditas Medianoche</title>
		<link href="https://fonts.googleapis.com/css?family=Damion|Quicksand:400,500,700" rel="stylesheet">
		<link rel="stylesheet" href="public/css/global.css">
		<link rel="stylesheet" href="public/css/header.css">
		<link rel="stylesheet" href="public/css/menu.css">
		<link rel="stylesheet" href="public/css/carrito.css">
		<link rel="stylesheet" href="public/css/nosotros.css">
		<link rel="stylesheet" href="public/css/contacto.css">
		<link rel="stylesheet" href="public/css/footer.css">


	</head>
	<body>
		{{> _header}}

		{{> _menu}}

		{{> _carrito}}

		{{> _nosotros}}

		{{> _contacto}}

		{{> _footer}}


		<script src="public/js/app.js">
		</script>
	</body>
</html>
